:root {
    --color1: #EEF2E6;
    --color2: #F6FBF4;
    --color3: #1C6758;
    --color4: #3D8361;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
}

#index nav {
    width: 20vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#index .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#index .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index .logo img {
    width: 35px;
    padding-right: 10px;
}

#index .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#index .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#index .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#index .dashboard {
    height: 48px;
    width: 260px;
    background-color: #EEF2E6;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#index .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#index .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #1C6758;
    font-weight: 600;
}

#index .data-buku {
    height: 48px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#index .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#index .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#index .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#index .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#index .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#index .row-1 {
    width: 100vw;
    height: 25vh;
    position: relative;
    top: 30px;
    margin-left: 30px;
    display: flex;
    left: 20px;
}

#index .welcome {
    line-height: 5px;
}

#index .welcome h3 {
    color: #1C6758;
    font-weight: 600;
}

#index .welcome p {
    color: #1C6758;
    font-weight: 400;
}

#index .searchbar {
    position: relative;
    left: 24.5vw;
    top: 5px;
}

#index .searchbar img {
    width: 25px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 4px;
    opacity: 60%;
}

#index .searchbar input {
    padding: 10px 45px;
    position: absolute;
    border-radius: 10px;
    border: none;
    color: #1C6758;
}

#index .akun {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 72vw;
    opacity: 50%;
}


#index .row-2 {
    width: 100vw;
    height: 35vh;
    position: relative;
    top: 60px;
    margin-left: 30px;
    display: flex;
}

#index .total {
    display: flex;
}

#index .total-buku {
    width: 20vw;
    height: 15vh;
    background-color: #F6FBF4;
    position: relative;
    left: -35vw;
    top: 8vh;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

#index .total-buku img {
    width: 60px;
    margin-right: 20px;
}

#index .total-buku h3 {
    color: #1C6758;
    line-height: 30px;
}

#index .total-peminjam {
    width: 20vw;
    height: 15vh;
    background-color: #F6FBF4;
    position: relative;
    left: -33vw;
    top: 8vh;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

#index .total-peminjam img {
    width: 60px;
    margin-right: 20px;
}

#index .total-peminjam h3 {
    color: #1C6758;
    line-height: 30px;
}


#index .row-3 {
    height: 25vh;
    width: 40vw;
    position: absolute;
    top: 32vh;
    left: 22vw;
}

#index .buku {
    display: flex;
    align-items: center;
    gap: 25px;
}

#index .row-3-text {
    display: flex;
}

#index .row-3 h4 {
    color: #1C6758;
}

#index .row-3 a {
    font-size: 10px;
    position: absolute;
    top: 6vh;
    left: 39.5vw;
    width: 100px;
    color: rgba(61, 131, 97, 0.9);
    text-decoration: none;
}

#index .buku1 {
    width: 10vw;
    height: 15vw;
    border: 1px solid rgba(61, 131, 97, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#index .buku1 img {
    width: 110px;
}

#index .buku1-text {
    width: 10vw;
    height: 5vh;
    line-height: 5px;
}

#index .buku1-text h5 {
    margin-top: 0px;
    margin-left: 17px;
    color: #1C6758;
}

#index .buku1-text p {
    margin-top: -10px;
    margin-left: 17px;
    font-size: 10px;
    color: #1C6758;
}


#index .buku2 {
    width: 10vw;
    height: 15vw;
    border: 1px solid rgba(61, 131, 97, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#index .buku2 img {
    width: 105px;

}

#index .buku2-text {
    width: 10vw;
    height: 5vh;
    line-height: 5px;
}

#index .buku2-text h5 {
    margin-top: 0px;
    margin-left: 17px;
    color: #1C6758;
}

#index .buku2-text p {
    margin-top: -10px;
    margin-left: 17px;
    font-size: 10px;
    color: #1C6758;
}



#index .buku3 {
    width: 10vw;
    height: 15vw;
    border: 1px solid rgba(61, 131, 97, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#index .buku3 img {
    width: 105px;

}

#index .buku3-text {
    width: 10vw;
    height: 5vh;
    line-height: 5px;
}

#index .buku3-text h5 {
    margin-top: 0px;
    margin-left: 17px;
    color: #1C6758;
}

#index .buku3-text p {
    margin-top: -10px;
    margin-left: 17px;
    font-size: 10px;
    color: #1C6758;
}

#index .buku4 {
    width: 10vw;
    height: 15vw;
    border: 1px solid rgba(61, 131, 97, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#index .buku4 img {
    width: 105px;

}

#index .buku4-text {
    width: 10vw;
    height: 5vh;
    line-height: 5px;
}

#index .buku4-text h5 {
    margin-top: 0px;
    margin-left: 17px;
    color: #1C6758;
}

#index .buku4-text p {
    margin-top: -10px;
    margin-left: 17px;
    font-size: 10px;
    color: #1C6758;
}

#index .row-kanan{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 84vh;
    width: 27vw;
    top: 7vw;
    left: 70vw;
    align-items: center;
    gap: 25px;
}
#index .row-kanan-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25vw;
    height: 37vh;
    background-color: rgba(61, 131, 97, 0.7);
    border-radius: 20px;
    justify-content: start;
    align-items: center;
    color: var(--color1);
}
#index .row-kanan-1 h4{
    font-size: 16px;
    color: #F6FBF4;
}
#index .row-kanan-1 table{
    position: relative;
    top: -15px;
    width: 95%;
    padding: 5px 10px;
    border-radius: 10px;
}
#index .row-kanan-1 th {
    color: #EEF2E6;
    font-weight: 700;
    padding: 5px;
    background-color: none;
    border-radius: 3px;
    background-color:rgba(61, 131, 97, 0.7) ;
}

#index .row-kanan-1 td {
    font-weight: 400;
    padding: 5px;
    text-align: center;
    background-color: #EEF2E6;
    border-radius: 2px;
    color: #3D8361;
}

#index .row-kanan-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25vw;
    height: 37vh;
    background-color: #F6FBF4;
    border-radius: 20px;
    justify-content: start;
    align-items: center;
    color: #1C6758;
}
#index .row-kanan-2 h4{
    font-size: 16px;
    color: #3D8361;
}
#index .row-kanan-2 table{
    position: relative;
    top: -15px;
    width: 95%;
    padding: 5px 10px;
    border-radius: 10px;
}
#index .row-kanan-2 th {
    color: #EEF2E6;
    font-weight: 700;
    padding: 5px;
    background-color: none;
    border-radius: 3px;
    background-color:rgba(61, 131, 97, 0.7) ;
}

#index .row-kanan-2 td {
    font-weight: 400;
    padding: 5px;
    text-align: center;
    background-color: #EEF2E6;
    border-radius: 2px;
    color: #3D8361;
}



/* data_buku */

#databuku nav {
    width: 18vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#databuku .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#databuku .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#databuku .logo img {
    width: 35px;
    padding-right: 10px;
}

#databuku .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#databuku .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#databuku .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#databuku .dashboard {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#databuku .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#databuku .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#databuku .data-buku {
    height: 48px;
    width: 260px;
    display: flex;
    background-color: #EEF2E6;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#databuku .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#databuku .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: #1C6758;
    font-weight: 600;
}

#databuku .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#databuku .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#databuku .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}


#databuku .row-1head {
    position: relative;
    top: 5vh;
    left: 5vw;
    justify-content: start;
}

#databuku .row-1box {
    height: 140px;
    width: 75vw;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20px;
    left: 21vw;
    border-radius: 20px;
    display: flex;
}

#databuku .searchbar {
    position: absolute;
}

#databuku .searchbar img {
    width: 25px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 4px;
    opacity: 60%;
}

#databuku .searchbar input {
    padding: 10px 400px;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #1C6758;
    color: #1C6758;
    background-color: rgba(214, 205, 164, 0.1);
}

#databuku .akun {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 68vw;
    opacity: 50%;
    top: -5px;
}

#databuku .row-1box h3 {
    position: absolute;
    top: 8vh;
    left: 2vw;
    font-size: 30px;
    color: rgba(61, 131, 97, 0.9);
}

#databuku .row-1box a {
    position: absolute;
    top: 13vh;
    left: 65vw;
    font-size: 12px;
    color: var(--color1);
    text-decoration: none;
    background-color: rgba(61, 131, 97, 0.8);
    padding: 8px 15px;
    border-radius: 10px;
}

#databuku .content {
    position: absolute;
    top: 25vh;
    left: 21vw;
}

#databuku table {
    border-collapse: collapse;
    width: 115%;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 0;
}

#databuku .opsi a:first-child {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(asset/edit.png);
    background-size: 30px;
    margin: 5px;
}

#databuku .opsi a:nth-child(2) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(asset/hapus.png);
    background-size: 30px;
    margin: 5px;
}

#databuku .opsi {
    display: flex;
    justify-content: center;
    gap: 3px;
}

#databuku th {
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 700;
    padding: 5px;
}

#databuku td {
    font-weight: 400;
    padding: 5px;
}

#databuku tr:nth-child(odd) {
    background-color: var(--color1);
    color: var(--color3);
    flex-grow: 0;

}

#databuku table tr:nth-child(even) {
    background-color: rgba(214, 205, 164, 0.5);
    color: rgb(0, 0, 0, 0.6)
}

#databuku table tr:hover {
    background-color: rgba(214, 205, 164, 0.5);
    color: rgb(0, 0, 0, 0.6)
}

#databuku th:nth-child(2) {
    width: 230px;
}

/* tambahbuku */


#tambahbuku nav {
    width: 18vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#tambahbuku .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#tambahbuku .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tambahbuku .logo img {
    width: 35px;
    padding-right: 10px;
}

#tambahbuku .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#tambahbuku .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#tambahbuku .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#tambahbuku .dashboard {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahbuku .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#tambahbuku .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#tambahbuku .data-buku {
    height: 48px;
    width: 260px;
    display: flex;
    background-color: #EEF2E6;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahbuku .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#tambahbuku .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: #1C6758;
    font-weight: 600;
}

#tambahbuku .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahbuku .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#tambahbuku .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#tambahbuku .judul {
    width: 60vw;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 22vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

#tambahbuku .judul img {
    width: 50px;
}

#tambahbuku .judul h2 {
    color: #1C6758;
    word-spacing: 5px;
    letter-spacing: 2px;
}

#tambahbuku .row-1 .akun {
    width: 40px;
    position: absolute;
    z-index: 1;
    left: 90vw;
    top: 11vh;
    opacity: 60%;
}

#tambahbuku .id_buku {
    width: 72vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahbuku label {
    position: relative;
    font-weight: 600;
    color: #1C6758;
}

#tambahbuku input {
    padding: 7px 10px;
    width: 67vw;
    border-radius: 10px;
    border: none;
}

#tambahbuku .judul_buku {
    width: 72vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 32vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahbuku .penulis {
    width: 72vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 44vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahbuku .jenis_buku {
    width: 72vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 56vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahbuku .penulis {
    width: 72vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 44vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

#tambahbuku .penerbit {
    width: 34vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 68vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

#tambahbuku .penerbit input {
    padding: 7px 10px;
    width: 29vw;
    border-radius: 10px;
    border: none;
}

#tambahbuku .jumlah_halaman {
    width: 36vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 68vh;
    left: 58vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

#tambahbuku .jumlah_halaman input {
    padding: 7px 10px;
    width: 29vw;
    border-radius: 10px;
    border: none;
}

#tambahbuku .enter {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 205, 164);
    position: absolute;
    top: 83vh;
    left: 87vw;
    color: var(--color4);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* datasiswa */

#datasiswa nav {
    width: 18vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#datasiswa .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#datasiswa .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#datasiswa .logo img {
    width: 35px;
    padding-right: 10px;
}

#datasiswa .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#datasiswa .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#datasiswa .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#datasiswa .dashboard {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#datasiswa .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#datasiswa .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#datasiswa .data-buku {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#datasiswa .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#datasiswa .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
}

#datasiswa .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    background-color: #EEF2E6;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#datasiswa .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#datasiswa .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
}


#datasiswa .row-1head {
    position: relative;
    top: 5vh;
    left: 5vw;
    justify-content: start;
}

#datasiswa .searchbar {
    position: absolute;
}

#datasiswa .searchbar img {
    width: 25px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 4px;
    opacity: 60%;
}

#datasiswa .searchbar input {
    padding: 10px 400px;
    position: absolute;
    border-radius: 20px;
    border: none;
    color: #1C6758;
    background-color: rgba(214, 205, 164, 0.5);
}

#datasiswa .akun {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 68vw;
    opacity: 50%;
    top: -5px;
}

#datasiswa .row-1-text {
    height: 140px;
    width: 80vw;
    position: absolute;
    top: -10px;
    left: -50px;
    border-radius: 20px;
    display: flex;
}
#datasiswa .row-1-text h3 {
    position: absolute;
    top: 8vh;
    left: 2vw;
    font-size: 30px;
    color: rgba(61, 131, 97, 1);
    letter-spacing: 2px;
}

#datasiswa .row-1-text a {
    position: absolute;
    top: 13vh;
    left: 68vw;
    font-size: 12px;
    color: var(--color1);
    text-decoration: none;
    background-color: rgba(61, 131, 97, 0.8);
    padding: 8px 15px;
    border-radius: 10px;
}


#datasiswa .content {
    position: absolute;
    top: 25vh;
    left: 21vw;
}

#datasiswa table {
    border-collapse: collapse;
    width: 142%;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 0;
}

#datasiswa .opsi a:first-child {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(asset/edit.png);
    background-size: 30px;
    margin: 5px;
}

#datasiswa .opsi a:nth-child(2) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(asset/hapus.png);
    background-size: 30px;
    margin: 5px;
}

#datasiswa .opsi {
    display: flex;
    justify-content: center;
    gap: 3px;
}

#datasiswa th {
    background-color: var(--color1);
    color: var(--color3);
    font-weight: 700;
    padding: 5px;
}

#datasiswa td {
    font-weight: 400;
    padding: 5px;
}

#datasiswa tr:nth-child(odd) {
    background-color: var(--color1);
    color: var(--color3);
    flex-grow: 0;

}

#datasiswa table tr:nth-child(even) {
    background-color: rgba(214, 205, 164, 0.5);
    color: rgb(0, 0, 0, 0.6)
}

#datasiswa table tr:hover {
    background-color: rgba(214, 205, 164, 0.5);
    color: rgb(0, 0, 0, 0.6)
}

#datasiswa th:nth-child(4){
    flex-basis: 200px;
}
/* tambah siswa */


#editsiswa nav {
    width: 18vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#tambahsiswa .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#tambahsiswa .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tambahsiswa .logo img {
    width: 35px;
    padding-right: 10px;
}

#tambahsiswa .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#tambahsiswa .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#tambahsiswa .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#tambahsiswa .dashboard {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahsiswa .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#tambahsiswa .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#tambahsiswa .data-buku {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahsiswa .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#tambahsiswa .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
}

#tambahsiswa .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    background-color: #EEF2E6;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#tambahsiswa .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#tambahsiswa .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
}


#tambahsiswa .judul {
    width: 60vw;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 22vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

#tambahsiswa .judul img {
    width: 50px;
}

#tambahsiswa .judul h2 {
    color: #1C6758;
    word-spacing: 5px;
    letter-spacing: 2px;
}

#tambahsiswa .row-1 .akun {
    width: 40px;
    position: absolute;
    z-index: 1;
    left: 90vw;
    top: 11vh;
    opacity: 60%;
}

#tambahsiswa label {
    position: relative;
    font-weight: 600;
    color: #1C6758;
}

#tambahsiswa input {
    padding: 7px 10px;
    width: 25vw;
    border-radius: 10px;
    border: none;
    
}
#tambahsiswa .id_siswa {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#tambahsiswa .nama_siswa{
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahsiswa .tanggal_lahir {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 34vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahsiswa .alamat {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 34vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#tambahsiswa .agama {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 48vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#tambahsiswa .jenis_kelamin {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 48vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#tambahsiswa .kelas {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 62vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

#tambahsiswa .jurusan {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 63vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#tambahsiswa .enter {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 205, 164);
    position: absolute;
    top: 83vh;
    left: 83vw;
    color: var(--color4);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

/* editsiswa */


#editsiswa nav {
    width: 18vw;
    height: 95vh;
    background-color: var(--color3);
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#editsiswa .logo {
    width: 18vw;
    height: 5.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16px;
}

#editsiswa .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editsiswa .logo img {
    width: 35px;
    padding-right: 10px;
}

#editsiswa .logo h3 {
    color: #EEF2E6;
    font-size: 20px;
}

#editsiswa .logo .garis {
    width: 245px;
    height: 1px;
    background-color: #EEF2E6;
    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    top: 85px;
}

#editsiswa .menubar {
    height: 30vh;
    width: 200px;
    position: relative;
    top: 10%;
    left: 25px;
}

#editsiswa .dashboard {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#editsiswa .dashboard img {
    width: 25px;
    padding-right: 10px;
}

#editsiswa .dashboard a {
    font-size: 18px;
    text-decoration: none;
    color: #EEF2E6;
    font-weight: 600;
}

#editsiswa .data-buku {
    height: 48px;
    width: 260px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#editsiswa .data-buku img {
    width: 25px;
    padding-right: 10px;
}

#editsiswa .data-buku a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
}

#editsiswa .data-peminjam {
    height: 48px;
    width: 250px;
    display: flex;
    background-color: #EEF2E6;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    left: -40px;
}

#editsiswa .data-peminjam img {
    width: 25px;
    padding-right: 10px;
}

#editsiswa .data-peminjam a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color3);
    font-weight: 600;
}


#editsiswa .judul {
    width: 60vw;
    height: 100px;
    position: absolute;
    top: 5vh;
    left: 22vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

#editsiswa .judul img {
    width: 50px;
}

#editsiswa .judul h2 {
    color: #1C6758;
    word-spacing: 5px;
    letter-spacing: 2px;
}

#editsiswa .row-1 .akun {
    width: 40px;
    position: absolute;
    z-index: 1;
    left: 90vw;
    top: 11vh;
    opacity: 60%;
}

#editsiswa label {
    position: relative;
    font-weight: 600;
    color: #1C6758;
}

#editsiswa input {
    padding: 7px 10px;
    width: 25vw;
    border-radius: 10px;
    border: none;
    
}
#editsiswa .id_siswa {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#editsiswa .nama_siswa{
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 20vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#editsiswa .tanggal_lahir {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 34vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#editsiswa .alamat {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 34vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#editsiswa .agama {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 48vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#editsiswa .jenis_kelamin {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 48vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#editsiswa .kelas {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 62vh;
    left: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}

#editsiswa .jurusan {
    width: 32vw;
    height: 70px;
    background-color: rgba(214, 205, 164, 0.5);
    position: absolute;
    top: 63vh;
    left: 57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
#editsiswa .enter {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 205, 164);
    position: absolute;
    top: 83vh;
    left: 83vw;
    color: var(--color4);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
